<div class="inner">
  <div class="contents row">
    <div class="container">
      <h3>投稿する</h3>
      <%= form_with model: @post, id: 'new_post', local: true do |form| %>
        <%= form.file_field :images, name: 'post[images][]', data: {index: 0}, placeholder: "Image Url" %>
        <%= form.text_area :tweet, placeholder: "学んだことを発信しよう", rows: "10" %>
        <%= form.text_area :content, placeholder: "半角#で区切って入力してください" %>
        <%= form.submit "SEND" %>
      <% end %>
    </div>
  </div>
</div>