<div class="search_area">  
  <%= search_form_for @q, url: search_posts_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
      <%= f.label :tweet_cont, 'ツイート内容' %>
      <br>
      <%= f.text_field :tweet_cont, placeholder: 'ツイート内容' %>
    </div>
    <div class="search-field">
      <%= f.label :user_nickname_cont, 'ユーザー名' %>
      <br>
      <%= f.text_field :user_nickname_cont, placeholder: 'ユーザー名' %>
    </div>
    <div class="search-field">
      <%= f.label :tags_content_cont, 'ハッシュタグ' %>
      <br>
      <%= f.text_field :tags_content_cont, placeholder: 'ハッシュタグ' %>
    </div>
    <%= f.submit '検索' %>
  <% end %>
  
  <ul class='item-lists' id="detailed-search-result">
    <% @posts.each do |post| %>
      <li class='list'>
        <div class="twitter__block">
      <%# 画像を表示させるコード %>
      <div class="user_image">
        <% if post.user.image.present? %>
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.image, size: "50x50",class: "rounded-circle" %>
          <% end %>
        <% else %>
          <%= link_to user_path(post.user) do %>
            <%= image_tag ("default.png"), size: "50x50",class: "rounded-circle" %>
          <% end %>
        <% end %>
      </div>
      <%# 画像を表示させるコード %>
      <%# 投稿内容の表示 %>
        <div class="twitter__block-text">
        <%= link_to post_path(post.id) do %>
          <div class="name"><%= post.user.nickname %></div>
            <div class="date"><%= l post.created_at %></div>
          <div class="text">
            <div class="in-pict">
              <%= image_tag post.image, size: "200x200" if post.image.attached? %>
            </div>
            <%# 改行を反映させる記述 %>
            <%= safe_join(post.tweet.split("\n"),tag(:br)) %>
            <%# 改行を反映させる記述 %>
            
          </div>
        <% end %>
        </div>
      <%# 投稿内容の表示 %>
  </div>
      </li>
    <% end %>
  </ul>
</div>
