<!DOCTYPE html>
<html>
  <head>
    <title>Repeatstudy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Repeatstudy</a></h1>
          
            <div class="user_nav grid-6">
              
            <ul class="user__info">
              
            </ul>
          </span>
              <%= link_to "投稿する", root_path, class: "post" %>
            </div>
          
            <div class="grid-6">
              <%= link_to "ログイン", root_path, class: "post" %>
              <%= link_to "新規登録", root_path, class: "post" %>
            </div>
          
      </div>
    </header>
    <%= yield %>
  </body>
</html>
