<!DOCTYPE html>
<html>
  <head>
    <title>Repeatstudy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to "Repeatstudy", root_path, class: :logo %>
          </div>
          <% if user_signed_in? %>
            <div class="nav__right"> 
              <% if current_user.image.present? %>
                <%= link_to user_path(current_user.id) do %>
                  <%= image_tag current_user.image.variant(resize: "50x50"),class: "rounded-circle" if current_user.image.attached? %>
                <% end %>
                <%= link_to current_user.nickname, user_path(current_user.id) %>
              <% else %>
                <%= link_to user_path(current_user.id) do %>
                  <%= image_tag ("default.png"), size: "50x50", class: "rounded-circle" %>
                <% end %>
                <%= link_to current_user.nickname, user_path(current_user.id) %>
              <% end %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
              <%= link_to "New Study", new_post_path, class: :nav__btn %>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
